<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>INTERIOR</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/animation.css" type="text/css"/>
    <link rel="stylesheet" href="/static/css/fontello.css" type="text/css"/>
    <link rel="stylesheet" href="/static/css/fontello-codes.css" type="text/css"/>
    <link rel="stylesheet" href="/static/css/fontello-embedded.css" type="text/css"/>
    <link rel="stylesheet" href="/static/css/fontello-ie7.css" type="text/css"/>
    <link rel="stylesheet" href="/static/css/fontello-ie7-codes.css" type="text/css"/>
    <link rel="stylesheet" href="/static/style/main.css">
    <link rel="stylesheet" href="/static/style/product-detail.css">
</head>

<body>
<div class="container">
    <div class="hero padding-site">
        <div class="header clearfix">
            <a href="/"><img src="/static/img/logo.svg" alt="logo"></a>
            <ul class="menu clearfix">
                <li class="menu-list"><a href="/" class="menu-link menu-link-active">HOME</a></li>
                <li class="menu-list"><a href="/products/" class="menu-link">PRODUCTS</a></li>
                <li class="menu-list"><a href="#" class="menu-link">HISTORY</a></li>
                <li class="menu-list"><a href="#" class="menu-link">SHOWROOM</a></li>
                <li class="menu-list"><a href="/contact/" class="menu-link">CONTACT</a></li>
                <li class="menu-list"><a href="#" class="menu-link"><i class="icon-search"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="tab-control">
        <ul class="tab-list">
            <li class="tab-control-list"><a href="#" class="tab-control-link tab-link-active">All</a></li>
            <li class="tab-control-list"><a href="#" class="tab-control-link">HOME</a></li>
            <li class="tab-control-list"><a href="#" class="tab-control-link">OFFICE</a></li>
            <li class="tab-control-list"><a href="#" class="tab-control-link">FURNITURE</a></li>
            <li class="tab-control-list"><a href="#" class="tab-control-link">MODERN</a></li>
            <li class="tab-control-list"><a href="#" class="tab-control-link">CLASSIC</a></li>
        </ul>
    </div>
    <div class="product-details padding-site">
        <div class="product-img">
            <div class="product-img-big">
                <a href="/static/img/slider1.jpg" target="_blank" class="big-img-link"><img src="/static/img/slider1.jpg" alt="chair_1"></a>
            </div>
            <div class="product-img-small">
                <div class="product-img-small-list">
                    <a href="#" class="small-img-link"><img src="/static/img/controll.jpg" alt="controll"></a>
                </div>
                <div class="product-img-small-list">
                    <a href="#" class="small-img-link"><img src="/static/img/controll11.jpg" alt="controll11"></a>
                </div>
                <div class="product-img-small-list">
                    <a href="#" class="small-img-link"><img src="/static/img/controll2.jpg" alt="controll2"></a>
                </div>
            </div>
        </div>
        <div class="product-description">
            <h2 class="product-description-h2">Fishnet Chair</h2>
            <p class="product-description-hot-deal">Hot Deal</p>
            <div class="product-description-price"><span class="dollar">$ </span> <span class="num">36.7</span> <span
                    class="sq">/sq</span></div>
            <a href="#" class="order-button">Order Us <i class="order-right icon-right-open"></i></a>
            <div class="description-text">
                <p class="description-content">The majesty of Mountains - Ugmonk style.</p>
                <p class="description-content"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore</p>
                <p class="description-content">et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <p class="description-content">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                    dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
                <p class="description-content">sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut
                    perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
                    aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                    explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                    consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui
                    dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi
                    tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
            </div>
        </div>
    </div>
    <div class="related-products padding-site">
        <div class="related-header clearfix">
            <h2 class="related-h2">Related Products</h2> <a href="/products/" class="explore">explore all <i
                class="explore-right icon-right-open"></i></a></div>
        <div class="related-list">
            <a href="#" class="related-link"><img src="/static/img/product-11.jpg" alt="product-11"></a>
            <a href="#" class="related-link"><img src="/static/img/product-21.jpg" alt="product-21"></a>
            <a href="#" class="related-link"><img src="/static/img/product-31.jpg" alt="product-31"></a>
        </div>
    </div>
</div>
<div class="footer padding-site">
    <div class="footer-contact">
        <h2 class="footer-h2">Contact&nbsp;Us</h2>
        <p class="footer-p">132A Bridge Road Richmond VIC Australia.</p>
        <p class="footer-p">Talk to us on 1300 132 info@interior.com</p>
    </div>
    <div class="footer-info">
        <h2 class="footer-h2">Useful&nbsp;Information</h2>
        <ul class="f-info">
            <li class="f-info-list"><a href="#" class="f-info-link">Sales&nbsp;terms</a></li>
            <li class="f-info-list"><a href="#" class="f-info-link">Customer&nbsp;care</a></li>
            <li class="f-info-list"><a href="#" class="f-info-link">Delivery</a></li>
            <li class="f-info-list"><a href="#" class="f-info-link">Architect&nbsp;accounts</a></li>
            <li class="f-info-list"><a href="#" class="f-info-link">Careers</a></li>
            <li class="f-info-list"><a href="#" class="f-info-link">Exchanges&nbsp;&amp;&nbsp;returns</a></li>
        </ul>
    </div>
    <div class="footer-subscribe clearfix">
        <h2 class="footer-h2">Let’s&nbsp;Stay&nbsp;in&nbsp;Touch!</h2>
        <p class="footer-p">Suscribe to know about our latest news, products and
        <div class="footer-input">
            <form action="#">
                <input placeholder="your email address" type="text" class="footer-email"><a href="#"
                                                                                            class="button-email"><i
                    class="icon-paper-plane"></i></a></form>
        </div>
    </div>
    <div class="footer-bottom">
        <p class="copyright">&copy;&nbsp;Copyright&nbsp;&mdash; INTERIOR 2016. All Rights Reserved.</p>
        <div class="footer-social-box"><a href="#" class="footer-social-box-link"><i
                class="footer-social-icon icon-facebook-circled"></i></a> <a href="#" class="footer-social-box-link"><i
                class="footer-social-icon icon-twitter-circled"></i></a> <a href="#" class="footer-social-box-link"><i
                class="footer-social-icon icon-gplus-circled"></i></a> <a href="#" class="footer-social-box-link"><i
                class="footer-social-icon icon-pinterest-circled"></i></a></div>
        <div class="footer-terms-privacy"><a href="#" class="footer-terms-privacy-link">Terms &amp;&nbsp;Conditions
            /</a><a href="#" class="footer-terms-privacy-link"> Privacy policy &amp;&nbsp;Cookies</a></div>
    </div>
</div>
</body>

</html>