{% extends 'mainapp/base.html' %}
{% load static %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'style/contact.css' %}">
{% endblock %}

{% block container %}
    <div class="hero padding-site">
        {% include 'mainapp/includes/inc__main_menu.html' %}
        <div class="hero-text">
            <h2 class="hero-h2">Contact Us</h2></div>
    </div>
    <div class="location padding-site">
        <div class="location-content-list">
            {% if locations %}
                {% for item in locations %}
                    <div class="address-box"><i class="icon-location-1"></i>
                        <h3 class="city">{{ item.city }}</h3>
                        <h4 class="address-type-h4">Phone:</h4>
                        <p class="phone">{{ item.phone }}</p>
                        <h4 class="address-type-h4">Email:</h4>
                        <p class="e-mail">{{ item.email }}</p>
                        <h4 class="address-type-h4">Address:</h4>
                        <p class="address">{{ item.address }}</p>
                    </div>
                {% endfor %}
            {% else %}
                <h3>Данные загружаются</h3>
            {% endif %}
        </div>
    </div>
{% endblock %}